<%= stylesheet_link_tag 'login' %>

<div class="signup-form pt-5">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h2>Password reset</h2>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control",placeholder: "Email Adress", required: "required"%> 
      </div>
    </div>
    
    <div class="form-group">
      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn btn-outline-dark btn-block btn-lg"%>
      </div>
    </div>
  <% end %>
  <div class="text-center">
  Don't have an account?
  <%= render "devise/shared/links" %>
  </div>
</div>


