<style>
body {
    background: #f5f5f5;

}
.profile-header {
    transform: translateY(5rem);
}
</style>

<div class="py-5 px-4">
    <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">

        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">



            <div class="py-4 px-4">
                <div class="py-4">
                
                    
                    <% @users.each do |user|%>
                        <%if !user.microposts.empty?%>
                            <%if user.avatar.attached?%>
                                <img src="<%=(url_for(user.avatar) )%>" style="float:left" alt="..." width="50" height="50" class="rounded-circle mb-2 img-thumbnail mr-2">
                            <%else%>
                                <img src="https://www.tenforums.com/geek/gars/images/2/types/thumb_15951118880user.png" style="float:left" alt="..." height="50" width="50" class="rounded-circle mb-2 img-thumbnail mr-2">  
                            <%end%>

                            <br><h5 class="mb-3 ml-3"><%=link_to "#{user.name.capitalize}'s posts", user_path(user), style:'color:black'%></h5>
                            <%user.microposts.order(created_at: :desc).each do |micropost|%>
                        
                            
                            <div class="p-4 bg-light rounded shadow-sm mb-3">
                            <p class="h5 mb-1 "><%=micropost.title.capitalize%></p>
                            <p class="font-italic mb-0"><%=micropost.body.capitalize%></p>
                                <ul class="list-inline small text-muted mt-3 mb-0">
                                    <li class="list-inline-item">
                                    <%if user_signed_in? && current_user.voted_for?(micropost)%>
                                    <i class='fa fa-heart mr-1' style = 'color:red'></i><%= render "microposts/like_count", micropost: micropost %>
                                    <%else%>
                                    <i class='far fa-heart mr-1' style = 'color:red'></i><%= render "microposts/like_count", micropost: micropost %>
                                    <%end%>
                                    </li>
                                </ul>
                            </div>
                            <%end%>
                        <%end%>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>